<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
  /==================================
  特别注意，如果更改了本文件的参数，前台不生效，请重新启动IIS即可。
  运行里运行CMD -> iisreset
  如果不重新启动，需要10～30分钟生效
  /==================================
  -->
  <sitename>大众汽车中国微学苑</sitename>
  <fromname>大众汽车中国微学苑</fromname>
  <!--域名，不带HTTP-->
  <domain>vwac.lpcbd.com</domain>
  <url>http://localhost:83</url>
  <!--站点版权-->
  <copyright>大众汽车集团（中国）版权所有</copyright>
  <appid>wx3619e023b8dd5e2f</appid>
<secret>062a0336c45a4c05bf0cb03665d0279a</secret>
<istest>1</istest>
</configuration>
