<?xml version="1.0" encoding="utf-8"?>
<sms>
  <setting>
    <parameter sendurl="http://dxhttp.c123.cn/tx/?uid={u}&amp;pwd={pwd}&amp;content={msg}&amp;mobile={mobile}" replyurl="http://dxhttp.c123.cn/rx/?uid={u}&amp;pwd={pwd}" yuerurl="http://dxhttp.c123.cn/mm/?uid={u}&amp;pwd={pwd}" username="3350093518000146" password="vwvwac123424" />
    <!--短信开启控制-->
<!-- 培训计划提醒，报名提醒-->
    <plan>0,0</plan>
  </setting>
  <matter>
    <!-- 报名课程提醒-->
    <plan>您确认参加的【{planname}】课程将在{begintime}开始,培训天数：{days}。请准时参加。</plan>
    <applyplan>您已确认参加【{planname}】课程，培训天数：{days}。请准时参加。</applyplan>

    <!-- 常用短语 -->
    <commonuse>您好，方便的时候请与我们联系({kf}){from}|我们的地址：北京</commonuse>
  </matter>
</sms>